.Fone{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, #0B0F12 0%, #0000 100%);

}
.ImgSec{
    width: 90%;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.Ttwo{
    position: relative;
    right: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.Icard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 300px;
    padding: 85px;
    margin: 10px;
    background: #414141;
    border-radius: 10px;
}
.GropButon{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* background-color: aqua; */
    margin-top: 35px;
    position: relative;
    right: 25px;
}
.Koo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* for MObile */
@media only screen and (max-width: 600px) {
    .ImgSec{
        /* background-color: #fff; */
        flex-wrap: wrap;
    }
    .Icard{
        max-width: 100%;
        padding: 50px;
    }
    .Fone{
        position: relative;
        left: 20px;
        top: -150px; ;
    }
    .Ttwo{
        position: relative;
        left: 18px;
        /* margin-top: 0px; */
    }
    .Koo{
        display: none;
    }
}